%div{:id => "panel", "data-url" => @large_panel.url, :class => "large", :style => "background-position:center;background-image:url(/panels/large/elite-teams.png);"}  
  #panel-text<
    = @large_panel.title
%div{:id => "panel", "data-url" => @small_panel_top.url, :class => "small-top", :style => "background-position:top;background-image:url(/panels/small/anthony.png);"}
  #panel-text<
    = @small_panel_top.title
%div{:id => "panel", "data-url" => @small_panel_bottom.url, :class => "small-bottom", :style => "background-position:bottom;background-image:url(/panels/large/missing.png);"}
  #panel-text<
    = @small_panel_bottom.title

#sponsors
  = link_to (image_tag "midwestlacrosse.png"), "http://www.midwestlacrosse.com", :target => "_blank", :id => "mwl-sponsor"
  = link_to (image_tag "ltn.png"), "http://www.lacrossethenations.org", :target => "_blank", :id => "ltn-sponsor"
  = link_to (image_tag "stx.png"), "http://www.stx.com", :target => "_blank", :id => "stx-sponsor"

