= form_for(@club_team) do |f|
  - if @club_team.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@club_team.errors.count, 'error')} prohibited this club team from being saved:"
      %ul
      - @club_team.errors.full_messages.each do |msg|
        %li= msg
  
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :information
    %br
    = f.cktext_area :information, :width => "80%", :height => "600px"
  .field
    = f.label :parent
    %br
    = f.select :parent_id, all_club_teams, { :include_blank => true }

  .actions
    = f.submit
