= form_for @registration, :url => sign_up_club_teams_path(@registration) do |f|

  - unless session[:registration_errors] == nil
    #error_explanation
      %h2
        = pluralize(session[:registration_errors].values.flatten.count, "error")
        prohibited this registration from being saved:
      %ul
        - session[:registration_errors].each do |msg|
          %li= msg.first.to_s.humanize + " " + msg.second

  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name

  .field
    = f.label :last_name
    %br/
    = f.text_field :last_name

  .field
    = f.label :primary_email
    %br/
    = f.text_field :primary_email

  .field
    = f.label :secondary_email
    %br/
    = f.text_field :secondary_email

  .field
    = f.label :street_address
    %br/
    = f.text_field :street_address
  .field
    = f.label :city
    %br/
    = f.text_field :city
  .field
    = f.label :state
    %br/
    = f.select :state, state_abbreviations, {:include_blank => true}
  .field
    = f.label :zip
    %br/
    = f.text_field :zip, :size => 5

  .field
    = f.label :age
    %br/
    = f.text_field :age, :size => 2

  .field
    = f.label :position
    %br/
    = f.select :position, positions, {:include_blank => true}

  .field
    = f.label :school
    %br/
    = f.text_field :school

  .field
    = f.label :graduation_year
    %br/
    = f.select :graduation_year, grad_year, {:include_blank => true}

  .field
    = f.label :primary_phone
    %br/
    = f.text_field :primary_phone, :size => 14

  .field
    = f.label :secondary_phone
    %br/
    = f.text_field :secondary_phone, :size => 14

  .actions
    = f.submit "Sign Up"
