#title= club_team_title

- if is_a_general_page?
  = render :partial => "nav", :object => ClubTeam.general_pages
- else
  = render :partial => "nav", :object => @club_team

#club-team.content
  = raw(@club_team.information)

#club-team.content{:style => "float: right;"}
  - if @club_team.show_registration_form?
    #new_camp_registration
      #title Register For Open Tryouts
      = render :partial => "registration", :object => @registration
