#title Listing camps
%table
  %tr
    %th Name
    %th Start at
    %th End at
    %th Location
    %th Group
    %th
    %th
    %th
  - @camps.each do |camp|
    %tr
      %td= camp.name
      %td= formatted_datetime(camp.start_at)
      %td= formatted_datetime(camp.end_at)
      %td= camp.location
      %td= camp.group
      %td= link_to 'Show', camp
      %td= link_to 'Edit', edit_camp_path(camp)
      %td= link_to 'Destroy', camp, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Camp', new_camp_path
