<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @camp.name %>
</p>

<p>
  <b>Start at:</b>
  <%= @camp.start_at %>
</p>

<p>
  <b>End at:</b>
  <%= @camp.end_at %>
</p>

<p>
  <b>Description:</b>
  <%= @camp.description %>
</p>

<p>
  <b>Location:</b>
  <%= @camp.location %>
</p>

<p>
  <b>Group:</b>
  <%= @camp.group %>
</p>


<%= link_to 'Edit', edit_camp_path(@camp) %> |
<%= link_to 'Back', camps_path %>
