#title
  Admin

= link_to 'Manage Categories', categories_items_path
%br/
= link_to 'Manage Pages', pages_items_path
%br/
= link_to 'View Contest Entries', contest_entries_path
%br/
= link_to 'View Camp Registrations', camp_registrations_path
%br/
= link_to 'Manage Store', products_path
%br/
= link_to 'Manage Camps', admin_camps_path
%br/
= link_to 'Manage Staff Members', admin_staff_members_path
%br/
= link_to 'View Tournament Entries', tournament_entries_path
%br/
= link_to 'Update Panels', admin_panels_path
%br/
= link_to 'Edit Club Teams', admin_club_teams_path
%br/
= link_to 'Manage Tournament Pages', admin_tournament_pages_path
