#title
  Admin

= link_to 'Manage Categories', categories_items_path
%br/
= link_to 'Manage Pages', pages_items_path
%br/
= link_to 'View Contest Entries', contest_entries_path
%br/
= link_to 'View Camp Registrations', camp_registration_path
%br/
= link_to 'Manage Store', products_path
%br/
= link_to 'View Coaches Clinic Registrations', coach_clinic_registrations_path
%br/
= link_to 'Manage Camps', camps_path
