#title Listing Staff Members
%ul#sortable-staff{:width => "100%"}
  - @staff_members.each do |staff_member|
    %li{:id => "staff_member_#{staff_member.id}", :style => "background-color: gray; margin: 5px 0 5px 0; padding: 10px;"}
      %div.sort-item= staff_member.name
      %div.sort-item= link_to 'Show', staff_member
      %div.sort-item= link_to 'Edit', edit_staff_member_path(staff_member)
      %div.sort-item= link_to 'Destroy', staff_member, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Staff Member', new_staff_member_path
