= form_for @item do |f|
  - if @item.errors.any?
    #error_explanation
      %h2
        = pluralize(@item.errors.count, "error")
        prohibited this item from being saved:
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg
  .field
    = hidden_field_tag "item[type]", get_type_from_position(1).to_s.singularize.capitalize
  .field
    = f.label :title
    %br
    = f.text_field :title
  .field
    = f.label :body
    %br
    = f.cktext_area :body, :width => "80%", :height => "600px"

  - if is_page?(@item)
    .field
      = f.label :category_id
      %br
      = f.collection_select :category_id, Category.all, :id, :title, :prompt => true 
    .field
      = f.label :include_camp_registration_form
      %br
      = f.check_box :include_camp_registration_form

  .actions
    = f.submit
