#title
  Listing items

%table
  - @items.each do |item|
    %tr
      %td= item.type
      %td= item.title
      %td= item.body
      %td= item.category_id
      %td= link_to 'Show', item_path(item)
      %td= link_to 'Edit', edit_item_path(item, :type => params[:type])
      %td= link_to 'Destroy', item_path(item), :confirm => 'Are you sure?', :method => :delete
%br
= link_to 'New Item', new_item_path
