#title
  Listing Elite Team Sign Ups
%table{:width => "100%", :border => "1"}
  %tr
    %th First name
    %th Last name
    %th E-Mail
    %th Age
    %th School
    %th Position
  - @resolute_team_sign_ups.each do |resolute_team_sign_up|
    %tr
      %td= resolute_team_sign_up.first_name
      %td= resolute_team_sign_up.last_name
      %td= resolute_team_sign_up.email
      %td= resolute_team_sign_up.age
      %td= resolute_team_sign_up.school
      %td= resolute_team_sign_up.position
