= form_for @camp_registration, :url => camp_registrations_path(@camp_registration) do |f|
  = hidden_field(:camp, :payment_url)
  = hidden_field_tag "camp_registration[registration_form_id]", "#{@camp.registration_form.id}"

  - if @camp_registration.errors.any?
    #error_explanation
      %h2
        = pluralize(@camp_registration.errors.count, "error")
        prohibited this Camp Registration from being saved:
      %ul
        - @camp_registration.errors.full_messages.each do |msg|
          %li= msg

  - if @camp.registration_form.name?
    .field
      = f.label :name
      %br/
      = f.text_field :name
  - if @camp.registration_form.email?
    .field
      = f.label :email
      %br/
      = f.text_field :email
  - if @camp.registration_form.age?
    .field
      = f.label :age
      %br/
      = f.text_field :age, :size => 2
  - if @camp.registration_form.position?
    .field
      = f.label :position
      %br/
      %br/
      = check_box_tag "camp_registration[position][attack]", "Attack"
      = label_tag "Attack"
      %br/
      = check_box_tag "camp_registration[position][middle]", "Middle"
      = label_tag "Middle"
      %br/
      = check_box_tag "camp_registration[position][defense]", "Defense"
      = label_tag "Defense"
      %br/
      = check_box_tag "camp_registration[position][goalie]", "Goalie"
      = label_tag "Goalie"
      %br/
      %br/
  - if @camp.registration_form.school?
    .field
      = f.label :school
      %br/
      = f.text_field :school
  - if @camp.registration_form.phone?
    .field
      = f.label :phone
      %br/
      = f.text_field :phone, :size => 14
  - if @camp.registration_form.address?
    .field
      = f.label :street_address
      %br/
      = f.text_field :street_address
    .field
      = f.label :city
      %br/
      = f.text_field :city
    .field
      = f.label :state
      %br/
      = f.select :state, state_abbreviations, {:include_blank => true}
    .field
      = f.label :zip
      %br/
      = f.text_field :zip, :size => 5
  - if @camp.registration_form.grade?
    .field
      = f.label :grade
      %br/
      = f.text_field :grade, :size => 2
  - if @camp.registration_form.yrs_of_exp?
    .field
      = f.label :yrs_of_exp, "Years of Experience"
      %br/
      = f.text_field :yrs_of_exp, :size => 2
  - if @camp.registration_form.finding_resolute?
    .field
      = f.label :finding_resolute, "How did you hear about us?"
      %br/
      = f.select :finding_resolute, found_resolute, {:include_blank => true}
  - if @camp.registration_form.comments?
    .field
      = f.label :comments
      %br/
      = f.text_area :comments, :rows => "10", :cols => "50"

  .actions
    = f.submit "Register and Pay Now"

    %h4.clear= "NOTE: After successful registration you will automatically be redirected for payment."
