#title
  Store

%table{:id => "store-products"}
  - @products.in_groups_of(3, false) do |row|
    %tr
    - row.each do |product|
      %td
        #product-box
          = link_to (image_tag product.picture.url(:thumb)), product.picture.url(:medium), :rel => "vidbox"
          %br/
          %b
            = product.name
          %br/
          = number_to_currency(product.price)
          %br/
          %br/
          %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "paypal"}
            %input{:name => "cmd", :type => "hidden", :value => "_cart"}/
            %input{:name => "add", :type => "hidden", :value => "1"}/
            %input{:name => "business", :type => "hidden", :value => "resolutelacrosse@gmail.com"}/
            %input{:name => "item_name", :type => "hidden", :value => product.name}/
            %input{:name => "item_number", :type => "hidden", :value => product.id}/
            %input{:name => "amount", :type => "hidden", :value => product.price}/
            %input{:name => "currency_code", :type => "hidden", :value => "USD"}/
            %input{:name => "return", :type => "hidden", :value => "http://www.resolutelacrosse.com/store"}/
            %input{:name => "undefined_quantity", :type => "hidden", :value => "1"}/

            - unless product.size.blank?
              %input{:name => "on0", :type => "hidden", :value => "Size"} 
              = label :product, :size
              = select_tag "os0", options_for_select(product.size.split(",").collect {|size| [size, size] }, product.size.split(",").first)
              %br/
              %br/
            %input{:alt => "Make payments with PayPal - it's fast, free and secure!", :border => "0", :height => "23", :name => "submit", :src => "http://images.paypal.com/en_US/i/btn/x-click-but22.gif", :type => "image", :width => "87"}/
%br/
%br/
%form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "paypal"}
  / Identify your business so that you can collect the payments.
  %input{:name => "business", :type => "hidden", :value => "resolutelacrosse@gmail.com"}
    / Specify a PayPal Shopping Cart View Cart button.
    %input{:name => "cmd", :type => "hidden", :value => "_cart"}
      %input{:name => "display", :type => "hidden", :value => "1"}
        / Display the View Cart button.
        %input{:alt => "PayPal - The safer, easier way to pay online", :border => "0", :name => "submit", :src => "https://www.paypal.com/en_US/i/btn/btn_viewcart_LG.gif", :type => "image"}
          %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypal.com/en_US/i/scr/pixel.gif", :width => "1"}
