!!!
%html
  %head
    %title 
      Resolute Lacrosse
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults, "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js", "#{RAILS_ROOT}/public/javascripts/video.js", :ckeditor
    = csrf_meta_tag
  %body
    = render :partial => "items/popup", :locals => {:source => "#{RAILS_ROOT}/public/videos/mirror.avi" }            
    
    #container
      #header 
        %span.logo 
          Resolute Lacrosse
        %br
        %span.tagline 
          Be Resolute.
        #nav
          %ul.nav_links
            - Category.all.each do |category|
              %li.first_level
                = link_to category.title, pretty_url_path(category)
                %ul.second_level
                  - category.pages.each do |page| 
                    %li
                      = link_to page.title, pretty_url_path(page)
            %li.first_level= link_to "Sign Out", destroy_user_session_path if user_signed_in?
      #content<
        %span.notice= notice
        %span.alert= alert
        = yield
