!!!
%html
  %head
    %title 
      Resolute Lacrosse - Columbus, Ohio Lacrosse Camps and Clinics Featuring Anthony Kelly and Greg Bice
    = stylesheet_link_tag "application", "reset", "video-js", "videobox", "event_calendar"

    /[if IE 6]
      = stylesheet_link_tag "ie6"

    = javascript_include_tag "jquery", "video", :ckeditor, :defaults, "jquery-ui", "videobox/mootools",
      "videobox/swfobject", "videobox/videobox", "event_calendar"
    = csrf_meta_tag
    %meta{:content => "wQVZzM2rcFd-jjiR9ZFo3_FBZo7NWANvYd4nnDnlZ70", :name => "google-site-verification"}/
  %body
    #container
      #header
        #logo= image_tag "logo.png", :class => "main_logo"
        %br
        %span.tagline
          Never Stop. Never Quit. Be Resolute.
        #social-network-links
          %span
            Check us out Facebok, Twitter, or join our mailing list!
          = link_to (image_tag "fb_icon.png"), "http://www.facebook.com/profile.php?id=100000102725042", :target => "_blank"
          = link_to (image_tag "twtr_icon.png"), "http://twitter.com/ResoluteLax", :target => "_blank"
          %a{:href => "http://visitor.r20.constantcontact.com/d.jsp?llr=8vrgy7dab&p=oi&m=1103697757883", :target => "_blank"}
            %img{:border => "0", :src => "https://imgssl.constantcontact.com/ui/images1/visitor/email1_trans.gif"}/



        #nav
          %ul.nav_links
            - Category.list_order.each do |category|
              %li.first_level
                =  category_name_or_link(category) if category.visible?
                %ul.second_level
                  - category.pages.each do |page| 
                    - if page.visible?
                      %li
                        = link_to page.title, pretty_url_path(page) 

            %li.first_level= link_to "Store", "http://resolutelacrossestore.bigcartel.com/", :target => :blank
            %li.first_level= link_to "Sign Out", destroy_user_session_path if user_signed_in?
      #content<
        - if flash.any?
          #flash
            - flash.each do |key, message|
              %span{ :class => key }= message

        = yield
        .clear

    = google_analytics_js if Rails.env.production?
